name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16' 

      - name: Install dependencies
        run: npm install
        working-directory: ./backend
          
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v1'
        with:
          token_format: 'access_token'
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v1'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: 'gcr.io'

      - name: Build and Push Docker Image
        working-directory: ./backend
        run: |
          docker build --build-arg DATABASE_HOST:=${{ secrets.DATABASE_HOST }} \
            --build-arg DATABASE_PORT=${{ secrets.DATABASE_PORT }} \
            --build-arg DATABASE_NAME=${{ secrets.DATABASE_NAME }} \
            --build-arg DATABASE_USER=${{ secrets.DATABASE_USER }} \
            --build-arg DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }} \
            --build-arg DB_TYPE=${{ secrets.DB_TYPE }} \
            --build-arg PORT=${{ secrets.PORT }} \
            --build-arg JWT_SECRET="${{ secrets.JWT_SECRET }}" \
            --build-arg GENIUS_HOST="${{ secrets.GENIUS_HOST }}" \
            --build-arg GENIUS_CLIENT_ID="${{ secrets.GENIUS_CLIENT_ID }}" \
            --build-arg GENIUS_CLIENT_SECRET="${{ secrets.GENIUS_CLIENT_SECRET }}" \
            --build-arg GENIUS_CLIENT_ACCESS_TOKEN="${{ secrets.GENIUS_CLIENT_ACCESS_TOKEN }}" \
            --build-arg DEFAULT_EXPIRATION_TIME="${{ secrets.DEFAULT_EXPIRATION_TIME }}" \
            --build-arg REDIS_URL="${{ secrets.REDIS_URL }}" \
            -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/groove-box-george:latest .
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/groove-box-george:latest

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: groove-box-george
          image: gcr.io/${{ secrets.GCP_PROJECT_ID}}/groove-box-george
          region: ${{ secrets.GCP_REGION }}
          platform: managed
          allow-authenticated: true
          timeout: 300s